<!DOCTYPE html>
    <html>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script type="text/javascript" src="/script.js"></script>
    <head>
        <title>Tasty Treat</title>
    </head>

    <body>
        <nav class="navbar navbar-light bg-light">
            <div class="container">
              <a class="navbar-brand mx-auto" href="#">
                Welcome to Tasty Treat
              </a>
            </div>
          </nav>